[application]

[web.app]

# HTML title tag content
title = "dx-example"

[bundle]
identifier = "co.rustworkshop.dioxus_example"
publisher = "tim-abell"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
